/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: inherit;
}

hidden-content {
  display: block;
  overflow: hidden;
}

// -------

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}

/*--------------------*/

#root {
  height: 100%;
}

:root {
  --accent: #5977ff;
  --text: #35393e;
  --gray: #515f73;
  --stroke: #ebecec;
  --light: #f8fafc;
  --white: #fff;
  --inactive: #979a9d;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #1A1A1A;

  min-width: 400px;
  background: #f8fafc;
}


.wrapper {
  padding-top: 20px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {

    &:hover {
      opacity: 0.6;
    }
  }
}

.top {
  padding: 40px 0;
}

.title {
  text-align: center;
  margin-bottom: 40px;

  h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 10px;
  }

  span {
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--accent);
  }

  span.green {
    color: green;
  }

  span.red {
    color: red;
  }

  span.gray {
    color: gray;
  }
}

.payment {
  text-align: center;
  margin-bottom: 36px;

  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    text-wrap: balance;
  }

  a {
    font-size: 16px;
    text-decoration: underline;
    color: var(--accent);
  }
}

.input {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  button {
    color: #5888FF;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #5888FF;
    background: rgba(88, 136, 255, 0.10);

    &:first-child {
      border-radius: 4px 0px 0px 4px;
    }

    &:last-child {
      border-radius: 0px 4px 4px 0px;
    }

    &:hover {
      color: white;
      background: #5888FF;
      opacity: 0.6;
    }
  }

  input {
    display: block;
    width: 200px;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;

    border-top: 1px solid #5888FF;
    border-bottom: 1px solid #5888FF;

    &::placeholder {
      color: #1A1A1A;
      opacity: 0.2;
    }
  }
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;

  @media (max-width: 550px) {
    flex-direction: column;
    align-items: center;
  }
}

.buttons a,
.buttons button,
.btn {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;

  width: 210px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 4px;
  background: linear-gradient(90deg, #58A0FF 0.02%, #5888FF 45.01%, #5966FF 100%);

  &:hover {
    opacity: 0.6;
  }
}

.buttons a.disabled,
.buttons button.disabled,
.btn.disabled {
  background: var(--inactive);
  cursor: unset;
  pointer-events: none;
}



.buttons-column {
  flex-direction: column;
  align-items: center;
}

.transactions {
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(26, 26, 26, 0.20);

  h2 {
    color: #1A1A1A;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    margin-top: 20px;
    text-align: center;
  }

  table {
    width: 100%;
    margin: -12px 0;

    border-spacing: 0 12px;
  }

  th {
    color: #8D8D8D;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
  }

  td {
    color: #1A1A1A;
    font-weight: 500;
    line-height: 120%;

    span {
      color: #8D8D8D;
    }
  }

  tr td:first-child {
    width: 40%;
  }

  tr td:last-child {
    width: 100px;
  }

  button {
    padding: 10px 12px;
    border-radius: 4px;
    background: #5888FF;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: 120%;

    &:hover {
      opacity: 0.6;
    }
  }
}

footer {
  padding: 20px;
  background: #1A1A1A;

  color: #FFF;
  font-size: 12px;
  line-height: 120%;
  text-align: center;

  a:hover {
    opacity: 0.6;
  }

  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    max-width: 600px;
    margin: 0 auto;
  }
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;

  text-decoration: underline;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.loader-circle {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 8px solid var(--accent);
  border-top-color: transparent;
  border-radius: 50px;
  animation: spinning 1s linear infinite;
}

.loader-circle.small {
  width: 25px;
  height: 25px;
  border: 4px solid var(--accent);
  border-top-color: transparent;
}

.loader-circle.--white {
  border: 4px solid var(--white);
  border-top-color: transparent;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

input[type="range"] {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  height: 3px;
  max-width: 300px;
  width: 100%;
  border-radius: 2px;

  -webkit-appearance: none;
  appearance: none;
  position: relative;

  border-top: 6px dotted rgb(138, 138, 138);
  padding-top: 3px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    margin-top: -12px;

    background-color: var(--accent);
    height: 18px;
    width: 18px;
    border-radius: 4px;
  }

  &::-moz-range-thumb {
    border: none;

    background-color: var(--accent);
    height: 18px;
    width: 18px;
    border-radius: 4px;
  }

  &::before,
  &::after {
    display: block;
    position: absolute;
    bottom: 0px;

    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: #1A1A1A;
  }

  &::before {
    content: attr(min);
    left: -14px;
  }

  &::after {
    content: attr(max);
    right: -26px;
  }
}

.hidden-content {
  min-height: 0;
  overflow: hidden;
}

.wrapper-for-hidden-content {
  display: grid;
  grid-template-rows: 0fr;

  transition: 0.5s;

  &.active {
    grid-template-rows: 1fr;
  }
}

.more-description-trigger {
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;

  span {
    display: inline-block;
  }

  &.active span {
    transform: rotate(180deg);
  }
}



.all-launders {

  &__top {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 8px 0;

    text-align: center;

    font-size: 14px;
    font-weight: 500;
    color: #403E3E;

    h1 {
      font-size: 20px;
      font-weight: 600;
      color: #080808;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
  }

  &__accordion-item {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 22px 0;
  }

  &__accordion-title {
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    h2 {
      font-size: 18px;
      font-weight: 600;
      color: #080808;
    }

    >img {
      margin-left: auto;
    }
  }

  &__accordion-item.opened &__accordion-body {
    grid-template-rows: 1fr;
    margin-top: 16px;
  }

  &__accordion-item.opened &__accordion-title>img {
    transform: rotate(180deg);
  }

  &__accordion-body {
    display: grid;
    transition: 0.6s;
    grid-template-rows: 0fr;
  }

  &__accordion-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;

    display: flex;
    align-items: center;
    gap: 16px;

    .btn {
      width: fit-content;
      padding: 8px 12px;
      margin-left: auto;
    }
  }

  &__item-image {
    position: relative;

    launder-circle {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 2;

      width: 10px;
      height: 10px;
      border-radius: 20px;
    }
  }

  &__item-title {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h3 {
      font-size: 16px;
      font-weight: 600;
      color: #080808;
      text-transform: uppercase;
    }

    launder-status {
      font-size: 16px;
      font-weight: 600;
    }
  }
}